extends layout.pug

block content
  main
    form(action="/" method="post")
      fieldset
        input(type="radio" name="shift" id="morning" value="morning") 
        label(for="morning") Morning Shift
        input(type="radio" name="shift" id="afternoon" value="afternoon") 
        label(for="morning") Afternoon Shift
        input(type="radio" name="shift" id="night" value="night")
        label(for="morning") Night Shift
      fieldset
        input(type="radio" name="day" id="weekday" value="weekday") 
        label(for="morning") Weekday
        input(type="radio" name="day" id="weekend" value="weekend") 
        label(for="morning") Weekend
      button(type="submit") Submit